---
const {title} = Astro.props;
---

<section class="p-5 mb-5 bg-quote/5 prose prose-cactus rounded-md">
    <h3 class="text-accent">ارتباط با نویسنده</h3>
    <p>در حال حاضر امکان کامنت نوشتن در وبسایتم فراهم نیست. اگر می خواهید نظرتان در مورد این پست را به اطلاع من برسانید با کلیک روی لینک زیر برای من ایمیل بفرستید.</p>
    <p><a href=`mailto:zachshirow@gmail.com?subject=نظر من در مورد مقاله ${title}` class="cactus-link text-accent" title="کانال زکریا شیرمحمدلی">ارسال ایمیل به زکریا شیرمحمدلی</a> </p>
</section>