---

---

<section class="bg-quote/5 p-5 prose prose-cactus rounded-md prose-lg">
    <h3 class="text-accent">اطلاع از انتشار آخرین مقالات</h3>
    <p>برای اینکه از انتشار آخرین مقالات در وبسایت من آگاه شوید می توانید در کانال تلگرامی من عضو شوید.</p>
    <p><a href="https://t.me/zachshirow_ir" class="cactus-link text-accent" title="کانال زکریا شیرمحمدلی" target="_blank">کانال تلگرامی من</a> </p>
</section>