---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "آموزش زبان انگلیسی",
		desc: "به عنوان معلم انگلیسی از تجربیات خودم در زمینه یادگیری زبان انگلیسی میگم. ",
		href: "teaching-english",
	},
	{
		title: "طراحی گرافیک",
		desc: "مطالب آموزشی در خصوص اینکه طراح گرافیک موفقی بشید رو باهاتون به اشتراک میذارم.",
		href: "/graphic-design",
	},
	{
		title: "برنامه نویسی فرانت اند",
		desc: "تجربه هایی که در خصوص برنامه نویسی فرانت اند دارم رو باهاتون به اشتراک میذارم تا یاد بگیرید حضور آنلاین خودتون رو به بهترین شکل بسازید.",
		href: "/front-end",
	},
	{
		title: "بلینکیست فارسی",
		desc: "ترجمه فارسی مطالب بلینکیست که در واقع چکیده کتاب های مطرح جهان هست رو باهاتون به اشتراک میگذارم.",
		href: "/blinkist-farsi",
	},
	{
		title: "مینیمالیسم",
		desc: "یکی از اصل هایی هست که توی زندگی ازش پیروی می کنم و میخوام در موردش حرف بزنم.",
		href: "/minimalism",
	},
	{
		title: "Obsidian",
		desc: "بهتون یاد میدم که چطور با ابسیدین سیستم هایی بسازید که زندگیتون رو باهاش مدیریت کنید.",
		href: "/obsidian",
	},
	{
		title: "Notion",
		desc: "بهتون یاد میدم که چطور با نوشن سیستم هایی بسازید که باهاش زندگی و کسب و کار خودتون رو با کمک دیگران مدیریت کنید.",
		href: "/notion",
	},
	{
		title: "Baserow",
		desc: "بهتون یاد میدم که دیتابیس تون داخل نرم افزار Baserow رو ایجاد کنید و ازش تو درست کردن سیستم ها استفاده کنید.",
		href: "/baserow",
	},
];
---

<PageLayout meta={{ title: "خانه" }}>
	<section>
		<h1 class="title mb-5 sm:mb-3 text-4xl">سلام، مخلصم!</h1>
		<p class="mb-4">
			سلام، اسم من <a href="/about" class="cactus-link" alt="زکریا شیرمحمدلی" target="_blank">زکریا شیرمحمدلی</a> هست و یک معلم زبان انگلیسی در شهر زیبای گنبد کاووس استان گلستان می باشم. خیلی به نوشتن در مورد موضوعاتی که مربوط به آموزش زبان انگلیسی، طراحی گرافیک، زندگی فریلنسری و ابزار های بهره وری علاقه دارم.
		</p>
		<p>توی شبکه های اجتماعی مختلفی می تونید من رو دنبال کنید. کانال تلگرامی البته اصلی ترین جایی خواهد بود که مطالب جدید رو منتشر می کنم.</p>
		<br />
		<p><a href="https://t.me/zachshirow_ir" class="cactus-link" alt="کانال زکریا شیرمحمدلی" target="_blank">کانال تلگرامی من</a> </p>
		<br />
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">پست ها</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-5 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">موضوعات</h2>
		<p>موضوعاتی که در موردشون صحبت می کنم از این قرار هست:</p>
		<ul class=" my-6 space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block text-violet-500"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
