---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post", ({ data }) => {
		return data.draft !== true;
	});
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "آموزش زبان انگلیسی",
		desc: "به عنوان معلم انگلیسی از تجربیات خودم در زمینه یادگیری زبان انگلیسی میگم. ",
		href: "/posts/teaching-english",
	},
	{
		title: "طراحی گرافیک",
		desc: "مطالب آموزشی در خصوص اینکه طراح گرافیک موفقی بشید رو باهاتون به اشتراک میذارم.",
		href: "/posts/graphic-design",
	},
	{
		title: "برنامه نویسی فرانت اند",
		desc: "تجربه هایی که در خصوص برنامه نویسی فرانت اند دارم رو باهاتون به اشتراک میذارم تا یاد بگیرید حضور آنلاین خودتون رو به بهترین شکل بسازید.",
		href: "/posts/front-end",
	},
	{
		title: "بلینکیست فارسی",
		desc: "ترجمه فارسی مطالب بلینکیست که در واقع چکیده کتاب های مطرح جهان هست رو باهاتون به اشتراک میگذارم.",
		href: "/posts/blinkist-farsi",
	},
	{
		title: "مینیمالیسم",
		desc: "یکی از اصل هایی هست که توی زندگی ازش پیروی می کنم و میخوام در موردش حرف بزنم.",
		href: "/posts/minimalism",
	},
	{
		title: "Obsidian",
		desc: "بهتون یاد میدم که چطور با ابسیدین سیستم هایی بسازید که زندگیتون رو باهاش مدیریت کنید.",
		href: "/posts/obsidian",
	},
	{
		title: "nocodb",
		desc: "بهتون یاد میدم که دیتابیس تون داخل نرم افزار nocodb رو ایجاد کنید و ازش تو درست کردن سیستم ها استفاده کنید.",
		href: "/posts/baserow",
	},
];
---

<PageLayout meta={{ title: "خانه" }}>
	<section>
		<article>
			<h1 class="title mb-5 sm:mb-3 text-4xl">سلام!</h1>
			<p class="mb-4">
				اسم من <a href="/about" class="cactus-link" title="زکریا شیرمحمدلی" target="_blank">زکریا شیرمحمدلی</a> هست و یک معلم زبان انگلیسی در شهر زیبای گنبد کاووس استان گلستان می باشم. این وبسایت شخصی من هست و توی اون مطالبی مربوط به آموزش زبان انگلیسی، طراحی گرافیک، زندگی فریلنسری و ابزار های بهره وری منتشر می کنم. 
			</p>
			<p>توی شبکه های اجتماعی مختلفی می تونید من رو دنبال کنید. کانال تلگرامی البته اصلی ترین جایی خواهد بود که مطالب جدید رو منتشر می کنم.</p>
			<br />
				<p><a href="https://t.me/zachshirow_ir" class="cactus-link text-accent" title="کانال زکریا شیرمحمدلی" target="_blank">کانال تلگرامی من</a> </p>
			<br />
		</article>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">پست ها</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-5 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		<p class="mt-10 text-accent">
			<a href="/posts" class="cactus-link" title="همه پست ها">همه پست ها ←</a>
		</p>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">موضوعات</h2>
		<p>موضوعاتی که در موردشون صحبت می کنم از این قرار هست:</p>
		<ul class=" my-6 space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block text-accent"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
