---
import { Icon } from "astro-icon";

/** 
	Uses https://github.com/natemoo-re/astro-icon#readme
	Find icons @ https://icones.js.org/
*/
const socialLinks = [
	{
		name: "mdi:github",
		friendlyName: "Github",
		link: "https://github.com/zachshirow",
	},
	{
		name: "mdi:instagram",
		friendlyName: "Instagram",
		link: "https://instagram.com/zachshirow",
	},
	{
		name: "mdi:twitter",
		friendlyName: "Twitter",
		link: "https://twitter.com/zachshirow",
	},
	{
		name: "mdi:linkedin",
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/zachshirow",
	},
	{
		name: "mdi:youtube",
		friendlyName: "Aparat",
		link: "https://www.aparat.com/zachshirow_ir",
	},
	{
		name: "mdi:email",
		friendlyName: "Email",
		link: "mailto:zachshirow@gmail.com",
	},
];
---

<div class="flex flex-wrap items-end gap-x-4">
	<p>شبکه های اجتماعی</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ link, name, friendlyName }) => (
				<li class="flex social-link">
					<a
						class="inline-block p-1 sm:hover:text-link"
						href={link}
						target="_blank"
						rel="noopener noreferrer"
					>
						<Icon class="h-6 w-6" name={name} aria-hidden="true" focusable="false" />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
